.MuiBox-root {
    /*padding: 0 !important;*/
    padding-left: 0 !important;
    padding-top: 0 !important;
}
.main {
    padding-left: 24px !important;
    padding-top: 64px !important;
}
.css-6rr4lt{
    
}