.MuiBox-root {
    /*padding: 0 !important;*/
    padding-left: 0 !important;
    padding-top: 0 !important;
}
.main {
    padding-left: 24px !important;
    padding-top: 76px !important;
}
.MuiListItemText-root *{
    font-size: 1.2rem !important;
}
.MuiListItemIcon-root *{
    font-size: 1.8em !important;
}
.MuiAvatar-root {
    height: 28.8px !important;
    width: 28.8px !important;
}